.alert {
  position: relative;
  margin-bottom: var(--space-md);
  padding: var(--space-md) var(--space-lg);
  border: 1px solid transparent;
  border-radius: var(--default-border-radius);
  background-color: #212529;
  color: white;
}